{# propiedades/templates/propiedades/agregar_venta.html #}
{% extends 'propiedades/base.html' %}
{% block content %}
<h2>{{ titulo }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Detalles de la Venta</h3>
    {{ venta_form.as_p }}
    <h3>Galería de Imágenes</h3>
    {{ formset.management_form }} 
    <div id="image-formset-container">
        {% for form in formset %}
            <div class="image-formset-row">
                {{ form.as_p }}
                {% if form.instance.pk %}<p>{{ form.DELETE }} Eliminar esta imagen</p>{% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>

    {# Puedes eliminar el <input type="file" name="gallery_images" multiple> si prefieres usar solo el formset. #}

    <button type="submit">Guardar Venta</button>
</form>

<script>
</script>

<style>
</style>

{% endblock %}